/* universal styling */



@font-face {
    font-family: 'iA Writer Mono';
    src: url('https://dyhlstudio.github.io/fonts/iawriter/iAWriterMonoS-Regular.eot');
    src: url('https://dyhlstudio.github.io/fonts/iawriter/iAWriterMonoS-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://dyhlstudio.github.io/fonts/iawriter/iAWriterMonoS-Regular.woff2') format('woff2'),
        url('https://dyhlstudio.github.io/fonts/iawriter/iAWriterMonoS-Regular.woff') format('woff'),
        url('https://dyhlstudio.github.io/fonts/iawriter/iAWriterMonoS-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

html,
body {
    overscroll-behavior: none;
}

html {
    font-size: 12px;
    overflow: hidden;
}

body {
    font-family: stratos, iA Writer Mono, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 1.25em 1.5em;
    position: relative;
    height: calc(calc(var(--vh, 1vh) * 100) - 2.5em);
    font-kerning: normal;
}

h1 {
    font-weight: 400;
    font-size: 3em;
    margin: 0;
    line-height: 1.33em;
    letter-spacing: 0.2px;
}

h2 {
    font-weight: 400;
    margin-bottom: 1rem;
}

a,
p,
li {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
    background: #ffff00;
}


/* general css */

.hide {
    transition: transform 1s ease;
    transform: translate(0);
}

.return {
    transition: transform 1s ease;
    transform: translate(calc(var(--vw, 1vw) * 100));
}

.container-fluid {
    padding: 0;
}

.row {
    margin-left: -0.5em;
    margin-right: -0.5em;
}


.col {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.responsive-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.img-wrapper {
    height: var(--threetwo);
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.img-wrapper-end {
    height: var(--threetwo);
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.25rem;
}

.list-img {
    height: auto;
    width: 100%;
    object-fit: cover;

}

.link-arrow:before {
    font-family: iA Writer Mono, merriweather, stratos, sans-serif;
    content: "\2197";
}



/* nav */

header {
    z-index: 2000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none !important;
}

#nav-container {
    padding-bottom: 0.75em;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

#nav-3,
#nav-4 {
    text-align: right;
}



/* main CSS */



#home {
    padding-top: 1em;
    left: 1.5em;
    right: 1.5em;
    bottom: 1.5em;
    height: calc(calc(calc(calc(calc(calc(var(--vh, 1vh) * 100) - 2.5em) - 1.5em) - 0.75em) - 1em) - 1px);
}

.icon-Asset-3:before {
    content: "\e900";
}

.icon-Asset-4:before {
    content: "\e901";
}



/* middle CSS */
#middle {
    height: 48%;
}

#middle .row {
    height: 100%;
}

#middle .col {
    height: 100%;
}


#big-text-wrapper {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.text-links, .view-links {
    text-decoration: underline !important;
}

.filtered {
/*    transition: background-color 500ms ease;
*/    background-color: #ff0;
}


/* bottom css */



#bottom {
    height: 52%;
    overflow: hidden;
}

#archive-categories {
    border-bottom: 1px solid black;
    margin-bottom: 1em;

}

#categories-labels {
    padding-top: 1em;
    padding-bottom: 0.75em;
}

#react-archive {
    overflow: auto;
    overflow-x: hidden;
    height: calc(calc(100% - 4.25em) - 1px);
}

.link-wrapper {

}
.project-entry:hover {
    background: #ffff00;
}

.selected {
    background-color: #ffff00;
}

/* active project css */
#project-wrapper {
    z-index: 200;
}

.slideshow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 100);
    margin: -1.25em -1.5em;
}

#active-slideshow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 100);
    text-align: center;
    overflow: hidden;
}

.thumb-wrapper {
    width: 100%;
    height: 100%;
}


.fs-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.inactive {
    visibility: hidden;
    opacity: 0;
}

.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
}

#active-info {
    overflow: auto;
}

#info-imgs {
    overflow: auto;
    height: calc(calc(calc(calc(calc(calc(var(--vh, 1vh) * 100) - 1.5em) - 1.25em) - 1em) - 0.75em) - 1px);

}

.white {
    color: #fff !important;
    transition: color 500ms ease;
}

.white-line {
    border-bottom: 1px solid white !important;
    transition: color 500ms ease;
}

/* footer */
#react-footer {
    z-index: 2000;
}


#footer-container {
    position: absolute;
    bottom: 0;
}

/* MOBILE BREAKPOINTS MIN-WIDTH AND LARGER */
/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    ...
}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    ...
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    ...
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    ...
}



/* MOBILE BREAKPOINTS MAX-WIDTH AND SMALLER */
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body {
        overflow: hidden;
    }
    h1 {
        font-size: 2em;
    }

    #middle {
        height: 70%;
    }

    #middle #thumb-col {
        height: calc(70% - 1rem);
        margin-bottom: 1rem;
    }

    #middle #big-text-wrapper {
        height: calc(30% - 1rem);
        margin-bottom: 1rem;
    }

    .overflow {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    #bottom {
        height: 30%;
    }

    #info-imgs {
        height: auto;
        overflow: unset;
    }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) and (min-width: 576px) {
    h1 {
        font-size: 2.5em;
    }
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) and (min-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) and (min-width: 992px) {
    ...
}

/*// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width*/