@font-face {
  font-family: 'icomoon';
  src:  url('https://dyhlstudio.github.io/fonts/icomoon.eot?ryl67p');
  src:  url('https://dyhlstudio.github.io/fonts/icomoon.eot?ryl67p#iefix') format('embedded-opentype'),
    url('https://dyhlstudio.github.io/fonts/icomoon.ttf?ryl67p') format('truetype'),
    url('https://dyhlstudio.github.io/fonts/icomoon.woff?ryl67p') format('woff'),
    url('https://dyhlstudio.github.io/fonts/icomoon.svg?ryl67p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Asset-3:before {
  content: "\e900";
}
.icon-Asset-4:before {
  content: "\e901";
}
