@font-face {
    font-family: 'iA Writer Mono';
    src: url('https://dyhl.studio/fonts/iawriter/iAWriterMonoS-Regular.eot');
    src: url('https://dyhl.studio/fonts/iawriter/iAWriterMonoS-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://dyhl.studio/fonts/iawriter/iAWriterMonoS-Regular.woff2') format('woff2'),
        url('https://dyhl.studio/fonts/iawriter/iAWriterMonoS-Regular.woff') format('woff'),
        url('https://dyhl.studio/fonts/iawriter/iAWriterMonoS-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Happy Times at the IKOB New Game Plus Edition';
    src: url('https://dyhl.studio/fonts/happytimes/happy-times-NG_regular_master_web.woff2') format('woff2'),
        url('https://dyhl.studio/fonts/happytimes/happy-times-NG_regular_master_web.woff') format('woff'),
        url('https://dyhl.studio/fonts/happytimes/happy-times-NG_regular_master_web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Happy Times at the IKOB New Game Plus Edition Italic';
    src: url('https://dyhl.studio/fonts/happytimes/happy-times-NG_italic_master_web.woff2') format('woff2'),
        url('https://dyhl.studio/fonts/happytimes/happy-times-NG_italic_master_web.woff') format('woff'),
        url('https://dyhl.studio/fonts/happytimes/happy-times-NG_italic_master_web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Ortica Light';
    src: url('https://dyhl.studio/fonts/ortica/Ortica-Light.woff2') format('woff2'),
        url('https://dyhl.studio/fonts/ortica/Ortica-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Sprat Medium';
    src: url('https://dyhl.studio/fonts/sprat/SpratMedium.woff2') format('woff2'),
        url('https://dyhl.studio/fonts/sprat/SpratMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Sprat Extended Light';
    src: url('https://dyhl.studio/fonts/sprat/SpratExtnLight.woff2') format('woff2'),
        url('https://dyhl.studio/fonts/sprat/SpratExtnLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Fluxisch Else Bold';
    src: url('https://dyhl.studio/fonts/fluxisch/FluxischElse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gulax Regular';
    src: url('https://dyhl.studio/fonts/gulax/Gulax-Regular.eot');
    src: url('https://dyhl.studio/fonts/gulax/Gulax-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://dyhl.studio/fonts/gulax/Gulax-Regular.woff2') format('woff2'),
        url('https://dyhl.studio/fonts/gulax/Gulax-Regular.woff') format('woff'),
        url('https://dyhl.studio/fonts/gulax/Gulax-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}